/* Archivo: estilos.css */
body {
    background-color: #1d1c1c; /* Gris oscuro en lugar de negro puro */
    color: #fd2d2d; /* Rojo suave para el texto */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    color: #f50303; /* Mantiene el rojo en los títulos y párrafos */
}

.navbar-brand{
    color: #850000; 
}

.navbar-brand:hover{
    color: #e70909; 
}

.nav-link{
    color: #850000;
}

.nav-link:hover{
    color: #e70909; 
}

a {
    color: #b90000; 
    text-decoration: none;
}

a:hover {
    color: #ff3333; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

button {
    background-color: #b90000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #b90000;
}

#miSpan {
    color: #b90000; 
}

.imagen-p1 {
    width: 80px; /* Ancho de la imagen */
    height: auto; /* Mantener la proporción */
}
.imagen-p2 {
    width: 150px; /* Ancho de la imagen */
    height: auto; /* Mantener la proporción */
    border: 2px solid #000; /* Borde alrededor de la imagen */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Sombra */
}

.imagen-dragon {
    width: 300px;
    height: auto;
    cursor: pointer; /* Cambia el cursor a mano para indicar que es interactivo */
    transition: transform 0.3s ease;
}

.imagen-dragon:hover {
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el cursor */
}
